<div class="selectPatientDiv">
  <h1 class="main-title">Are you recording a new test for a new patient or an existing one?</h1>
  <mat-card>
    <div class="select-patient-page-content">
      <a routerLink="/record-test-new"><button mat-raised-button class="new-patient-btn">New patient</button></a><br><br>
      <h2 class="sub-title">Existing patient</h2><br>
      <p class="sub-desc">Select any of the patients below and click on the
        <span style="color: blue;">RECORD A NEW TEST</span> button</p>

      <mat-accordion multi="true" *ngIf="patients.length>0">
        <mat-expansion-panel *ngFor="let patient of patients">
          <mat-expansion-panel-header>
            Patient's Full Name : {{patient.patientFullName}}
          </mat-expansion-panel-header>
            Patient's ID: {{patient.id}}<br>
            Patient's Username: {{patient.patientUsername}}
          <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/existing-patient', patient.id]">RECORD A NEW TEST</a>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <p class="info-text mat-body-1" *ngIf="patients.length == 0">No patients found</p>

    </div>
    <div class=page-footer>
      <a routerLink="/tester-home"><button mat-raised-button class="back-btn">Back to tester home</button></a>
    </div>
  </mat-card>
</div>
