.selectPatientDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title, .sub-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.sub-title{
  font-size: 1.5em;
}

.select-btn, .new-patient-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.select-btn {
  margin-left: 50px;
}

.new-patient-btn{
  width: 600px;
  height: 80px;
  font-size: 1.5em;
  background-color: blue;
  border-radius: 60px;
}

.new-patient-btn:hover{
  background-color: maroon;
}

.select-btn:hover, .back-btn:hover{
  background-color: white;
  color: black;
}

.select-patient-page-content{
  margin: auto;
  text-align: center;
  height: 350px;
  padding: 50px 0;
}

.id-input-field{
  width: 400px;
  color: black;
}

.id-input{
  color: black;
  margin: auto;
  width: 400px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-footer{
  margin: auto;
  text-align: center;
  padding: 30px;
}

.back-btn{
  color:white;
  margin: 5px;
  margin-top: 200px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.cell-padding, .symptomps-cell{
  padding-right: 10px;
  padding-left: 10px;
}

.symptomps-cell{
  width: 500px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.row-border{
  border: 5px solid lightskyblue;
}

.test-id-list{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  border: 5px solid lightskyblue;
  border-radius: 20px;
  background-color: #98ff98;
  color: black;
  border-collapse: collapse;
  font-weight: normal;
}

