<div class="loginDiv">
  <mat-card>
    <h1 class="main-title">Welcome to Covid Testing Information System (CTIS)!</h1><br><br>
    <form (submit) = "onLogin(loginForm)" #loginForm = "ngForm">
      <div class=page-content>
        <h2 class="main-title">Login</h2><br>
        <div style="float:left; margin-top: 35px;">
          <fa-icon [icon]="faAt" size="2x" style="padding-right: 15px;"></fa-icon>
        </div>
        <mat-form-field>
          <input
            matInput
            name="username"
            type="text"
            id="username"
            placeholder="Enter your username here..."
            ngModel
            #emailInput="ngModel"
            required><br><br>
            <mat-error *ngIf="emailInput.invalid">Please enter your username</mat-error>
        </mat-form-field>
          <br>
        <mat-form-field style="width: 96.5%;">
          <input
            matInput
            name="password"
            type="password"
            id="password"
            placeholder="Enter your password here..."
            ngModel
            #passwordInput="ngModel"
            required><br><br>
            <mat-error *ngIf="passwordInput.invalid">Please enter your password</mat-error>
        </mat-form-field>
        <button mat-raised-button class="showPSBtn" id="showPSBtn" type="button">
          <fa-icon [icon]="faEyeSlash" id="faEyeSlash" size="lg"></fa-icon>
          <fa-icon [icon]="faEye" id="faEye" size="lg" style="display: none;"></fa-icon>
        </button>
        <br><br>
        <button
          mat-raised-button
          class="login-btn"
          type="submit"> Log In </button>
      </div>
    </form>
  </mat-card>
</div>
