.TestCentreDiv{
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.manager-home-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.create-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.entryfield-input{
  margin: auto;
  width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.stock-entryfield-input{
  margin: auto;
  width: 150px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card{
  width: 80%;
  margin-left: 100px;
  background-color: lightskyblue;
  transition: none !important;
  box-shadow: none !important;
}

mat-form-field,
textarea{
  width: 100%;
}
