<div class="recordNewDiv">
  <mat-card style="color: aqua;">
    <h1 class="main-title" *ngIf="this.showNewTitle">Record a new patient and test</h1>
    <h1 class="main-title" *ngIf="this.showExistingTitle">Record a new test for {{this.ptUsername}}</h1>
    <form (submit)="onSaveTest(testForm)" #testForm="ngForm">
    <div class="record-test-page-content">
      <table class="test-details-list">
        <tr>
          <td class="cell-padding" valign="top">
            <mat-form-field style="width:800px">
              <input
              matInput
              name="email"
              class="record-test-input"
              type="text"
              placeholder="Enter the patient's email here..."
              #email="ngModel"
              [ngModel]="user?.email"
              [disabled]="isDisabled"
              required>
              <mat-error>Please enter the email</mat-error>
              <mat-hint class="hint" *ngIf="this.isDisabled">This textfield cannot be edited</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="cell-padding" valign="top">
            <mat-form-field style="width:800px">
              <input
              matInput
              name="username"
              class="record-test-input"
              type="text"
              placeholder="Enter the patient's username here..."
              #username="ngModel"
              [ngModel]="user?.username"
              [disabled]="isDisabled"
              required>
              <mat-error>Please enter the username</mat-error>
              <mat-hint class="hint" *ngIf="this.isDisabled">This textfield cannot be edited</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="cell-padding" valign="top">
            <mat-form-field style="width:89.5%">
              <input
              matInput
              name="password"
              class="record-test-input"
              [type]="fieldTextType ? 'text' : 'password'"
              placeholder="Enter the patient's password here..."
              #password="ngModel"
              [ngModel]="user?.password"
              [disabled]="isDisabled"
              required>
              <mat-error>Please enter the password</mat-error>
              <mat-hint class="hint" *ngIf="this.isDisabled">This textfield cannot be edited</mat-hint>
            </mat-form-field>
            <button mat-raised-button class="showPSBtn" id="showPSBtn" type="button">
              <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="togglePassword()"
              ></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="cell-padding" valign="top">
            <mat-form-field style="width:800px">
              <input
              matInput
              name="name"
              class="record-test-input"
              type="text"
              placeholder="Enter the patient's full name here..."
              #name="ngModel"
              [ngModel]="user?.name"
              [disabled]="isDisabled"
              required>
              <mat-error>Please enter the full name</mat-error>
              <mat-hint class="hint" *ngIf="this.isDisabled">This textfield cannot be edited</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="cell-padding" valign="bottom" style="padding-top: 20px;">
            <mat-form-field style="width:800px">
              <mat-label>Patient Type</mat-label>
              <mat-select matInput name="patientType"
                class="patient-type-dropdown"
                #patientType="ngModel"
                [ngModel]="test?.patientType"
                required>
                  <mat-option disabled selected>--Select an option from the dropdown below--</mat-option>
                  <mat-option value="Returnee">Returnee</mat-option>
                  <mat-option value="Quarantined">Quarantined</mat-option>
                  <mat-option value="Close Contact">Close Contact</mat-option>
                  <mat-option value="Infected">Infected</mat-option>
                  <mat-option value="Suspected">Suspected</mat-option>
              </mat-select>
              <mat-error *ngIf="patientType.invalid">Please select a patient type</mat-error>
            </mat-form-field>
          </td>
        </tr><br>
        <tr>
          <td class="results-textarea" valign="bottom">
            <mat-form-field style="margin-left: -15px; width: 800px;">
              <textarea style="color: black;"
              matInput name="symptoms"
              #symptoms="ngModel"
              [ngModel]="test?.symptoms"
              type="text"
              class="results-input"
              placeholder="Type the symptoms patient is suffering from here..."
              required></textarea>
              <mat-error *ngIf="symptoms.invalid">Please enter the symptoms</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div class=record-btn-container>
      <button mat-raised-button class="record-btn" type="submit">Record new test</button>
    </div>
    <div class=page-footer>
      <a routerLink="/tester-home"><button mat-raised-button class="back-btn">Back to tester home</button></a>
    </div>
    </form>
  </mat-card>
</div>
