.recordNewDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title, .sub-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.sub-title{
  font-size: 1.5em;
}

mat-card {
  background-color: lightskyblue;
  transition: none !important;
  box-shadow: none !important;
}

.record-test-page-content{
  margin: auto;
  text-align: left;
  height: auto;
  width: 800px;
  padding: 50px;
}

.page-footer{
  margin: auto;
  text-align: center;
  padding: 30px;
}

.record-btn-container{
  margin: auto;
  text-align: center;
  padding: 50px;
}

.record-test-title{
  color: black;
  margin: 15px;
  text-align: left;
  white-space: nowrap;
}

.test-details-list, .cell-padding, .results-textarea{
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  color: black;
}

.cell-padding{
  padding-top: 20px;
}

.results-input{
  margin-top: 20px;
  height: 180px;
  resize: none;
  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.back-btn, .record-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.record-btn{
  width: 300px;
}

.record-btn:hover{
  background-color: blue;
}

.back-btn:hover{
  color: black;
  background-color: white;
}

.results-textarea{
  position: relative;
  left: 15px;
}

textarea { white-space: pre-wrap !important; }

.symptomps-cell{
  height: 200px;
  width: 800px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.patient-type-dropdown{
  color: black;
  margin: 15px;
  margin-left: 0px;
  text-align: left;
  white-space: nowrap;
  width: 800px;
  font-size: 1em;
}

.showPSBtn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 250px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: 20px;
}

.showPSBtn:hover{
  color: black;
  background-color: white;
}

.fa{
  font-size: 30px;
}
