<div class='updateKitDiv'>
  <mat-accordion multi="true" *ngIf="testkits.length>0">
    <mat-expansion-panel *ngFor="let testkit of testkits">
      <mat-expansion-panel-header>
        Testkit name : {{testkit.testkitname}}
      </mat-expansion-panel-header>
        Testkit stock: {{testkit.testkitstock}}

      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', testkit.id]">EDIT TESTKIT</a>
        <button mat-button color="warn" (click) = "onDelete(testkit.id)">DELETE TESTKIT</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="info-text mat-body-1" *ngIf="testkits.length == 0">No Testkit available</p>

</div>

<div class="page-footer">
  <a routerLink="/manager-home"><button mat-raised-button class="back-btn">Back to Manager Home</button></a>
</div>
