.testerGenTestReportDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.no-entry-text{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.enter-test-id-page-content{
  margin: auto;
  text-align: center;
  height: 300px;
  padding: 50px 0;
}

.test-id-list{
  text-align: left;
  border-collapse: collapse;
  color: black;
  background-color: #98ff98;
  border-radius: 20px;
  font-weight: normal;
  width: 120%;
  margin-left: -120px;
}

.row-border{
  border: 5px solid lightskyblue;
}

.cell-padding, .symptomps-cell{
  padding-right: 10px;
  padding-left: 10px;
}

.symptomps-cell{
  width: 1000px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.back-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.back-btn:hover{
  color: black;
  background-color: white;
}

.page-content{
  margin: auto;
  text-align: center;
}

.page-footer{
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}
