<div class='RecordOfficerDiv'>
  <h1 class="main-title" >Record a Test Center Officer profile!</h1><br>
<mat-card>
  <form (submit) = "onCreateTCOProfile(testCOForm)" #testCOForm = "ngForm">
      <!-- <h6 class="main-title">Enter the Test Centre Officer username below</h6><br> -->
      <mat-form-field>
        <input
          matInput
          name="username"
          type="text"
          placeholder="Enter test centre officer username here..."
          ngModel
          #testCentreProfileNameInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfileNameInput.invalid">Please enter a valid username</mat-error>
      </mat-form-field>
      <br>
      <!-- <h6 class="main-title">Enter the Test Centre Officer password below</h6><br> -->
      <mat-form-field>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Enter test centre officer password here..."
          ngModel
          #testCentreProfilePasswordInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfilePasswordInput.invalid">Please enter a password</mat-error>
      </mat-form-field>
      <br>
      <!-- <h3 class="main-title">Enter the Test Centre name below</h3><br> -->
      <!-- <mat-form-field>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Enter test centre officer name here..."
          ngModel
          minlength="3"
          #testCentreProfileNameInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfileNameInput.invalid">Please enter a name</mat-error>
      </mat-form-field> -->

      <!-- <select [(ngModel)]="testcentres">
        <option *ngFor="let testCentre of testcentres">{{testCentre.testcentrename}}</option>
      </select> -->
      <mat-accordion multi="true" *ngIf="testcentres.length>0">
        <mat-expansion-panel *ngFor="let testCentre of testcentres">
          <mat-expansion-panel-header>
            {{testCentre.testcentrename}}
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>


      <br><br>
      <div class=page-content>
        <button
          mat-raised-button
          class="create-btn"
          type="submit">Create</button>
        <br><br>
        <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a>
      </div>

  </form>
</mat-card><br><br>

</div>
