<div class='RecordOfficerDiv'>
  <h1 class="main-title" >Record a Test Center Officer profile!</h1><br>
<mat-card>
  <form (submit) = "onCreateTCOProfile(testCOForm)" #testCOForm = "ngForm">
      <mat-form-field>
        <input
          matInput
          name="testCentreOfficerName"
          type="text"
          placeholder="Enter Test Centre Officer name here..."
          ngModel
          minlength="3"
          #testCentreOfficerName="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreOfficerName.invalid">Please enter a name</mat-error>
      </mat-form-field>

      <br><br>

      <mat-form-field>
        <input
          matInput
          name="testCentreOfficerUsername"
          type="text"
          placeholder="Enter Test Centre Officer username here..."
          ngModel
          #testCentreOfficerUsername="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreOfficerUsername.invalid">Please enter a valid username</mat-error>
      </mat-form-field>

      <br><br>

      <mat-form-field>
        <input
          matInput
          name="testCentreOfficerPassword"
          type="password"
          placeholder="Enter Test Centre Officer password here..."
          ngModel
          #testCentreOfficerPassword="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreOfficerPassword.invalid">Please enter a password</mat-error>
      </mat-form-field>

      <br><br>

      <h6>Click to select position</h6> <br>
      <mat-select
        name="testCentreOfficerPosition"
        required>
        <mat-option
          *ngFor="let position of officerPositions"
          [value]="position"
          >
          {{ position }}
        </mat-option>
      </mat-select>

      <br><br>

      <mat-form-field>
        <input
          matInput
          name="testCentreId"
          type="text"
          placeholder="Enter Test Centre ID, from below, here..."
          ngModel
          #testCentreId="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreId.invalid">Please enter a valid ID</mat-error>
      </mat-form-field>

      <br><br>

      <mat-accordion multi="true" *ngIf="testcentres.length>0">
        <mat-expansion-panel *ngFor="let testcentre of testcentres">
          <mat-expansion-panel-header>
            Test Centre name : {{testcentre.testcentrename}}
          </mat-expansion-panel-header>
            Test Centre ID: {{testcentre.id}}
        </mat-expansion-panel>
      </mat-accordion>

      <p class="info-text mat-body-1" *ngIf="testcentres.length == 0">No Test Centres available</p>

      <br><br>

      <div class=page-content>
        <button
          mat-raised-button
          class="create-TCO-btn"
          type="submit">Create Test Centre Officer profile</button>
        <br><br>
        <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a>
      </div>

  </form>
</mat-card><br><br>

</div>
