/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightskyblue;
}

.mat-toolbar {
  background-color: blue;
  color: white;
}

.toolbar-btn{
  color:black;
  background-color: lightskyblue;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.toolbar-btn:hover{
  background-color:	#ffd47f;
}

.main-title{
  color: black;
  margin: 15px;
  text-align: center;
}

.page-content{
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.space-fill {
  flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
