.enterIDDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title, .sub-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.sub-title{
  font-size: 1.5em;
}

.enter-test-id-page-content{
  margin: auto;
  text-align: center;
  height: auto;
  padding: 50px 0;
}

.mat-expansion-panel{
  color: midnightblue;
  background-color: orange;
  height: auto;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  text-align: left;
}

.mat-select{
  color: midnightblue;
  background-color: orange;
  height: auto;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

mat-card{
  background-color: lightskyblue;
  transition: none !important;
  box-shadow: none !important;
}

mat-form-field,
textarea{
  width: 100%;
}

.back-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.back-btn:hover{
  color: black;
  background-color: white;
}

.select-btn{
  color:white;
  margin: 5px;
  margin-left: 50px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.select-btn:hover{
  background-color: blue;
}

.page-footer{
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  height: 100px;
}
