.enterIDDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title, .sub-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.sub-title{
  font-size: 1.5em;
}

.enter-test-id-page-content{
  margin: auto;
  text-align: center;
  height: auto;
  padding: 50px 0;
}

.id-input-field{
  width: 400px;
  color: black;
}

.id-input{
  margin: auto;
  width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.test-id-list{
  margin-left: -70px;
  text-align: left;
  width: 110%;
  border: 5px solid lightskyblue;
  border-radius: 20px;
  background-color: #98ff98;
  color: black;
  border-collapse: collapse;
  font-weight: normal;
}

.back-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.back-btn:hover{
  color: black;
  background-color: white;
}

.select-btn{
  color:white;
  margin: 5px;
  margin-left: 50px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.select-btn:hover{
  background-color: blue;
}

.page-footer{
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  height: 100px;
}

.row-border{
  border: 5px solid lightskyblue;
}

.cell-padding, .symptomps-cell{
  padding-right: 10px;
  padding-left: 10px;
}

.table-content{
  margin: auto;
  text-align: center;
}

.symptomps-cell{
  width: 500px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
