.manager-home-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.manager-home-btn:hover{
  background-color: blue;
}

.main-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

.test-kit-create-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 500px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
  margin: auto;
}

.test-kit-create-btn:hover{
  background-color: #006633;
}

.logout-btn{
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
  margin: auto;
}

.logout-btn:hover{
  color: black;
  background-color: white;
}

.managerHomeDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}
