.updateResultDiv {
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.main-title{
  font-size: 2em;
  font-weight: bolder;
  color: black;
  margin: 15px;
  text-align: center;
}

mat-card {
  background-color: lightskyblue;
  transition: none !important;
  box-shadow: none !important;
}

.update-test-result-page-content{
  margin: auto;
  text-align: left;
  height: auto;
  width: 800px;
  padding: 50px;
}

.page-footer{
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  height: 60px;
  padding: 50px;
}

.update-btn-container{
  margin: auto;
  margin-top: -100px;
  text-align: center;
  height: 10px;
  padding: 50px 0;
}

.update-test-title{
  color: black;
  margin: 15px;
  text-align: left;
  white-space: nowrap;
}

.test-details-list, .cell-padding, .results-textarea{
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  color: black;
}

.cell-padding{
  padding-top: 20px;
}

.results-input-field{
  width: 800px;
  color: black;
}

.resultsField{
  height:180px;
}

.results-input{
  margin: auto;
  width: 600px;
  height: 150px;
  resize: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.back-btn, .update-btn {
  color:white;
  margin: 5px;
  background-color: black;
  width: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.update-btn {
  width: 300px;
}

.update-btn:hover{
  background-color: blue;
}

.back-btn:hover{
  color: black;
  background-color: white;
}

.symptomps-cell{
  height: 200px;
  width: 800px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.results-textarea{
  position: relative;
  left: 15px;
  height: 60px;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline
    {
    background-image: linear-gradient( to right, #5a5a5a, #5a5a5a, #5a5a5a 0 ) !important;
    background-size: 1px 100% !important;
     background-repeat: repeat-x !important;
    }
